* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Cormorant, serif;
}
header {
  margin: 32px;
}
.name {
  display: inline-block;
  padding-right: 4rem;
  font-weight: 300;
}
.nav {
  display: inline-block;
}
.list li {
  display: inline-block;
  list-style: none;
}
a {
  margin: 0 8px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.active {
  border-bottom: 1px solid greenyellow;
}
img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.card {
  width: 49%;
  display: inline-block;
  padding: 16px;
}
main {
  padding: 16px;
}
.card h2 {
  font-weight: 300;
  padding: 8px 0 16px 0;
}
h2 {
  background-image: url(./asset/cron.jpg);
  background-position: center;
  background-clip: text;
  color: transparent;
  font-size: 2em;
}

.contact-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
 

.contact-form{
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}