* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "title main main"
    "menu main main"
    "menu main main"
    "menu footer footer";
  gap: 2rem;
}
.title {
  background-color: pink;
  grid-area: title;
  border-radius: 15px;
  animation: slide-in-right 6000ms;
  animation-iteration-count: 2;
}
.menu {
  background-color: green;
  grid-area: menu;
  animation: slide-in-right 6000ms;
  animation-iteration-count: 2;
}
.main {
  background-color: purple;
  grid-area: main;
  animation: slide-in-up 6000ms;
  animation-iteration-count: 2;
}
.footer {
  background-color: yellow;
  grid-area: footer;
  animation: slide-in-down 6000ms;
  animation-iteration-count: 2;
}
@media only screen and (max-width: 600px) {
  .menu {
    background-color: orange;
  }
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "main"
      "menu"
      "footer";
    gap: 1rem;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: rotateX(-500deg) translateX(200%);
    background-color: greenyellow;
    border-radius: 20px;
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in-down {
  from {
    transform: rotateY(200deg) translateY(-900%);
    background-color: rgb(29, 156, 97);
    border-radius: 20px;
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in-up {
  from {
    transform: rotateY(100deg) translateY(500%);
    background-color: rgb(29, 156, 97);
    border-radius: 20px;
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
