* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  gap: 1rem;
  max-width: 100vw;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: autofit, repeat(200px, 1fr);
  grid-template-areas:
    "header header"
    "main try"
    "main aside"
    "footer aside";
}
.header {
  background-color: lightblue;
  grid-area: header;
}
.main {
  background: url(./Ronaldo-2004.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-area: main;
}
.aside {
  background-color: blueviolet;
  grid-area: aside;
}
.footer {
  background-color: yellowgreen;
  grid-area: footer;
}
.try {
  background-color: goldenrod;
  grid-area: try;
  display: flex;
  text-align: center;
  justify-content: center;
}
.try h1 {
  color: red;
}
