/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  background-color: rgb(220, 233, 220);
  color: rgb(20, 4, 78);
}
h6 {
  font-size: 4rem;
  height: 120px;
}
div {
  color: blueviolet;
}
h1 {
  height: 90px;
}

img {
  height: 96px;
}
.chosen {
  color: white;
}
.not-chosen {
  color: #ffff00;
}
h1 {
  color: black;
}
b {
  font-size: larger;
}
