:root {
  --font-family: "karla", san-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.centered-item {
  /* color: red;
  height: 25dvh;
  background-color: #6a0d83;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50dvw;
  border-radius: 0.5rem; */
  color: green;
  margin: auto;
}
.flex-container {
  /* display: flex;
  justify-content: center;
  height: 100dvh;
  align-items: center; */

  /* second way */
  /* display: grid;
  place-items: center;
  height: 100dvh; */

  /* third way */
  height: 100dvh;
  display: flex;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
